$utilities: (
         "custom-margin-top": (responsive: true,
             property: margin-top,
             class: mt,
             values: (30px : toRem(30px),50px : toRem(50px),100px : toRem(100px),200px : toRem(200px))),
        "custom-margin-bottom": (responsive: true,
            property: margin-bottom,
            class: mb,
            values: (
            20px : toRem(20px),
            30px : toRem(30px),
            70px : toRem(70px),
            80px : toRem(70px),
            150px : toRem(150px) ,
            200px : toRem(200px))),

        "custom-padding": (responsive: true,
             property: padding,
             class: p,
             values: (5px: toRem(5px),
                6px: toRem(6px),
                20px: toRem(20px),
    
             ),
         ),
        "custom-padding-end": (responsive: true,
            property: padding-right,
            class: pe,
            values: (15px : toRem(15px),30px : toRem(30px),45px : toRem(45px),)),
        "custom-padding-start": (responsive: true,
            property: padding-left,
            class: ps,
            values: (15px : toRem(15px), 30px : toRem(30px), 45px : toRem(45px), )),
         "custom-padding-top": (responsive: true,
            property: padding-top,
            class: pt,
            values: ( 15px : toRem(15px),27px : toRem(27px),50px : toRem(50px),60px : toRem(60px), 100px : toRem(100px)) ),
        "custom-padding-bottom": (responsive: true,
            property: padding-bottom,
            class: pb,
            values: (35px : toRem(35px),42px : toRem(42px), 100px : toRem(100px))),
        "custom-padding-x": (responsive: true,
            property: padding-right padding-left,
            class: px,
            values: ( 15px : toRem(15px),20px : toRem(20px),
            25px : toRem(25px),
            35px : toRem(35px),
            50px : toRem(50px) ,
            135px : toRem(135px)) ),
        "custom-padding-y": (responsive: true,
            property: padding-top padding-bottom,
            class: py,
            values: (20px : toRem(20px),45px : toRem(45px),80px : toRem(80px),)),
        "custom-font-size": (responsive: true,
             property: font-size,
             class: fs,
             values: ( 
                13px: toRem(13px),
                14px: toRem(14px),
                15px: toRem(15px),
                16px: toRem(16px),
                17px: toRem(17px),
                18px: toRem(18px),
                20px: toRem(20px),
                24px: toRem(24px),
                32px: toRem(32px),
                33px: toRem(33px),
                44px: toRem(44px),
                50px: toRem(50px),
                84px: toRem(84px),
             ),
         ),
        "custom-gap": (responsive: true,
            property: gap,
            class: gap,
            values: (20px: toRem(20px),
            35px: toRem(35px),
            40px: toRem(40px),
            70px: toRem(70px),
            60px: toRem(60px),
            80px: toRem(80px),
            120px: toRem(120px),
            ) ),
        "custom-width": (property: width,
                responsive: true,
        
            class: w,
            values: (
                30px: toRem(30px),
                50px: toRem(50px),
                68px: toRem(68px),
                90px: toRem(90px),
                110px: toRem(110px),
                100: 100%,
                auto: auto,
                unset: none,)),
        "custom-height": (property: height,
                responsive: true,
            class: h,
            values: ( 327px : toRem(327px),
                30px: toRem(30px),
                68px: toRem(68px),
                65px: toRem(65px),
                70px: toRem(70px),
                85px: toRem(85px),
                auto: auto)),
        "custom-max-width": (property: max-width,
                responsive: true,
            class: mw,
            values: (68px: toRem(68px),
            256px: toRem(256px),
            200px: toRem(200px),
            250px: toRem(250px),
            315px: toRem(315px),
            430px: toRem(430px),
            500px: toRem(500px),
            630px: toRem(630px),
            1200px: toRem(1200px),
            1920px: toRem(1920px),
            unset : unset, )),
        "custom-max-height": (property: max-height,
                responsive: true,
            class: mh,
            values: (68px: toRem(68px),
                unset : unset, )),
        "custom-shadow-hover": (property: box-shadow,
                responsive: true,
            class: shadow,
            state: hover,
            values: (none: none,
                1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
            ),
        ),
        "custom-shadow": (property: box-shadow,
                                responsive: true,
            class: shadow,
            values: ( 1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
            2:  rgba(0, 0, 0, 0.16) 0px 1px 4px,
            3: $boxShadows-3,
            )),
        "custom-rounded": ( responsive: true,
            property: border-radius,
            class: rounded,
            values: (4px: 4px,
                6px: 6px,
                10px: 10px,
                20px: 20px,
                25px: 25px,
                35px: 35px,
                50px: 50px,
            ),
        ),
        "custom-rounded-top": (responsive: true,
            property: border-top-left-radius border-top-right-radius,        
            class: rounded-top,
            values: ( 25px: 25px,)),
        "custom-rounded-top-left": (responsive: true,
            property: border-top-left-radius ,  
            class: rounded-top-left,
            values: (130px: 130px, )),
        "custom-top": (responsive: true,
            property: top,              
            values: (n35px : toRem(-35px),45px : toRem(45px),80px : toRem(80px)) ),
        "custom-bottom": ( responsive: true,
            property: bottom,                   
            values: (45px : toRem(45px)) ),
        "custom-start": ( responsive: true,
            property: left,              
            class: start,
            values: (n27px : toRem(-27px),45px : toRem(45px)) ),
        "custom-end": ( responsive: true,
            property: right,           
            class: end,
            values: (n70px : toRem(-50px),45px : toRem(45px)) ),
);