---
const { img, text, desc } = Astro.props;
---

<div
  class="d-flex flex-column align-items-center mw-256px py-45px px-25px shadow-1-hover rounded-35px"
>
  <div><img class="w-90px h-70px" src={img} alt="" /></div>
  <p class="text-space-cadet text-center fw-semibold fs-20px">
    {text}
  </p>
  <p class="text-center">
    {desc}
  </p>
</div>
